{{#link-to 'companies'}}Back to the posts list{{/link-to}}

<h3>{{model.title}}</h3>
<h3>{{model.symbol}}</h3>
<p>Sentiment: {{format-values model.sentiment}}</p>
<p>Anger: {{format-values model.anger}}</p>
<p>Disgust: {{format-values model.disgust}}</p>
<p>Fear: {{format-values model.fear}}</p>
<p>Joy: {{format-values model.joy}}</p>
<p>Sadness: {{format-values model.sadness}}</p>
