<div class="container group info-header group">
  <div class="span-12">
    <p>
      <strong>Stock Sentiment</strong> keeps a running average of what people are saying about publicly listed companies. It uses the <em>Intrinio News API</em> to pull recent stories about companies and the <em>Watson Alchemy API</em> to analyze their sentiment and emotion.
    </p>
  </div>
</div>

<div class="container group company-header">
  <div class="title-header span-3">
    <p>&nbsp;</p>
  </div>
  <div class="span-9">
    <ul class="column-names">
      <li>Sentiment</li>
      <li>Anger</li>
      <li>Disgust</li>
      <li>Fear</li>
      <li>Joy</li>
      <li>Sadness</li>
    </ul>
  </div>
</div>

<div class="container group company-list">
  <ul>
    {{#each model as |company|}}
    <li class="company-info group">
      <div class="company-name span-3">
        {{#link-to 'company' company.slug}}
        {{company.title}}
        {{/link-to}}
      </div>
      <div class="company-values span-9">
        <ul>
          <li class={{if company.changes.sentiment 'positive' 'negative'}}>
            <span class="value {{if company.values.sentiment 'pad-left'}}">
              {{format-values company.sentiment}}
            </span>
            <span class="change">
              {{#if company.changes.sentiment}}
                {{fa-icon "caret-up"}}
              {{else}}
                {{fa-icon "caret-down"}}
              {{/if}}
              {{calculate-change company.prev_sentiment company.sentiment}}
            </span>
          </li>
          <li class={{if company.changes.anger 'positive' 'negative'}}>
            <span class="value {{if company.values.anger 'pad-left'}}">
              {{format-values company.anger}}
            </span>
            <span class="change">
              {{#if company.changes.anger}}
                {{fa-icon "caret-up"}}
              {{else}}
                {{fa-icon "caret-down"}}
              {{/if}}
              {{calculate-change company.prev_anger company.anger}}
            </span>
          </li>
          <li class={{if company.changes.disgust 'positive' 'negative'}}>
            <span class="value {{if company.values.disgust 'pad-left'}}">
              {{format-values company.disgust}}
            </span>
            <span class="change">
              {{#if company.changes.disgust}}
                {{fa-icon "caret-up"}}
              {{else}}
                {{fa-icon "caret-down"}}
              {{/if}}
              {{calculate-change company.prev_disgust company.disgust}}
            </span>
          </li>
          <li class={{if company.changes.fear 'positive' 'negative'}}>
            <span class="value {{if company.values.fear 'pad-left'}}">
              {{format-values company.fear}}
            </span>
            <span class="change">
              {{#if company.changes.fear}}
                {{fa-icon "caret-up"}}
              {{else}}
                {{fa-icon "caret-down"}}
              {{/if}}
              {{calculate-change company.prev_fear company.fear}}
            </span>
          </li>
          <li class={{if company.changes.joy 'positive' 'negative'}}>
            <span class="value {{if company.values.joy 'pad-left'}}">
              {{format-values company.joy}}
            </span>
            <span class="change">
              {{#if company.changes.joy}}
                {{fa-icon "caret-up"}}
              {{else}}
                {{fa-icon "caret-down"}}
              {{/if}}
              {{calculate-change company.prev_joy company.joy}}
            </span>
          </li>
          <li class={{if company.changes.sadness 'positive' 'negative'}}>
            <span class="value  {{if company.values.sadness 'pad-left'}}">
              {{format-values company.sadness}}
            </span>
            <span class="change">
              {{#if company.changes.sadness}}
                {{fa-icon "caret-up"}}
              {{else}}
                {{fa-icon "caret-down"}}
              {{/if}}
              {{calculate-change company.prev_sadness company.sadness}}
            </span>
          </li>
        </ul>
      </div>
    </li>
    {{/each}}
  </ul>

  <div class="disclaimer">
    <div class="disclaimer-text">
      <p>
        <strong>Notice:</strong> StockSentiment should not be used as an investment tool, and is only for entertainment/informational purposes. Also, due to API cost limitations, not all of the data is current, as it is only possible to analyze recent articles for a handful of companies per day. If you would like to help increase the daily API limit, please don't hesitate to donate. All funds will go towards increasing the amount of companies that are be analyzed each day.
      </p>
    </div>
    <div class="disclaimer-button">
      <a class="donate-button"
      href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EZG9VXKE4XBQA"
      target="_blank">
        Donate
      </a>
    </div>
  </div>
</div>
